{% extends 'JSomerstoneDaysWithoutBundle::base.html.twig' %}
{% block head %}

    <link rel="stylesheet" href="{{ asset('bundles/jsomerstonedayswithout/css/dayswo.css') }}" type="text/css" media="all">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Days w/o {{ title }}{% endblock %}
{% block content_header '' %}
{% block body %}
    <a href="{{ url('dwo_frontpage') }}" class="btn btn-small btn-navbar">Home</a><br>

    <div class="container-fluid">
        {% include 'JSomerstoneDaysWithoutBundle::notifications.html.twig' %}
        {% block content '' %}
    </div>
{% endblock %}