<ul class="nav nav-tabs">
    <li {% if app.request.get('_route') == 'dwo_frontpage' %} class="active"{% endif %}>
        <a href="{{ url('dwo_frontpage') }}" >Home</a>
    </li>
    {% if loggedIn %}
        <li {% if app.request.get('_route') == 'dwo_logout' %} class="active"{% endif %}>
            <a href="{{ url('dwo_logout') }}" >Logout</a>
        </li>
    {% else %}
        <li {% if app.request.get('_route') == 'dwo_loginpage' %} class="active"{% endif %}>
            <a href="{{ url('dwo_loginpage') }}" >Login</a>
        </li>
    {% endif %}
</ul>