<div class="offset4">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="span6">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Notice!</strong> {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="span6">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Notice!</strong> {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="span6">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
</div>