<ul class="nav nav-pills">
    <li class="active">
        <a href="/"> Home</a>
    </li>
    {% if loggedIn %}
        <li >
            <a href="#logout" class="nogo" data-toggle="modal" data-target="#logout-dialog" >Logout</a>
        </li>
    {% else %}
        <li>
            <a href="#login" class="nogo" data-toggle="modal" data-target="#login-dialog" >Login</a>
        </li>
        <li>
            <a href="#signup" class="nogo" data-toggle="modal" data-target="#signup-dialog" >Sign up</a>
        </li>
    {% endif %}
</ul>
