div.counterDays {
    margin: 15px;
    padding: 85px;
    font-size: 96px;
    text-align: center;
    background-color: lightyellow;
    border: darkgray solid 2px;
    color: black;
}

body {
    background-color: black;
    color: ivory;
}

.wo-pad-left {
    padding-left: 0px;
}

.wo-pad-right {
    padding-right: 0px;
}