{% extends 'JSomerstoneDaysWithoutBundle::layout.html.twig' %}

{% block title %}Days w/o {{ title }}{% endblock %}

{% block content %}
    <h2>Start new counter:</h2>
    <form action="create" class="span6" method="POST">
        <div id="name-group" class="control-group">
            <p class="lead">
                <b>0</b> days without
                <input
                    id="thing-field"
                    name="thing"
                    placeholder="... {{ sample }}?"
                    type="text"
                    maxlength="64"
                    required="required"
                    autofocus="autofocus"
                />
            </p>
            <button id="search-btn" class="btn btn-large btn-block btn-primary">Start</button>
            <br />
            <span id="name-field-help" class="help-inline"></span>
        </div>
    </form>
{% endblock %}
