{% extends 'JSomerstoneDaysWithoutBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="{{ content_classes }}">
            {% include 'JSomerstoneDaysWithoutBundle:Counter:newCounter.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="{{ content_classes }}">
            <div class="col-lg-6">
                {% include 'JSomerstoneDaysWithoutBundle:Counter:counterList.html.twig'
                    with {
                        list_headline: 'Latest counters',
                        counters: latest,
                        showUser: true
                    }
                %}
            </div>
            <div class="col-lg-6">
                {% include 'JSomerstoneDaysWithoutBundle:Counter:counterList.html.twig'
                    with {
                        list_headline: 'Resent resets',
                        counters: resentResets,
                        showUser: true
                    }
                %}
            </div>
        </div>
    </div>
{% endblock %}
