div.counter-postit {
    background-color: lightyellow;
    margin: 15px;
    padding: 5px;
    color: black;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.45);
}

div.counter-days {
    padding-top: 85px;
    padding-bottom: 55px;
    font-size: 96px;
    text-align: center;
    color: inherit;
}
.visibility-icon {
    text-align: right;
}
body {
    background-color: black;
    color: ivory;
}
div.modal {
    color: #000000;
}
.wo-pad-left {
    padding-left: 0px;
}

.wo-pad-right {
    padding-right: 0px;
}

.content-box {
    padding-bottom: 50px;
}

.dropdown-menu hr {
    margin: 0px 10px;
}
table.counter-list td {
    padding: 5px;

}
table.counter-list td.counter-list-daycount {
    text-align: right;
}
#share-buttons {
    text-align: right;
}
#share-buttons a{
    text-decoration: none;
    color: inherit;
}

.counter-postit .navbar {
    margin-bottom: -50px;
}

div.jumbotron {
    background-color: mediumpurple;
}
