<h2>Resent resets</h2>
<table class="counter-list">
    {% if not resentResets %}
        <p>None</p>
    {% else %}
        <tbody>
            {% for counter in resentResets %}
                <tr>
                    <td class="counter-list-daycount">
                        {{ counter.days }}
                    </td>
                    <td class="counter-list-head">
                        <a href="{{ url('dwo_show_counter', { 'name': counter.name, 'owner': counter.owner }) }}">
                            days without <b>{{ counter.headline }}</b>
                        </a>{% if not counter.public %} - <i>{{ counter.owner }}</i>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
